@{
  var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
  
 }

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>dotNetflix - @controllerName</title>
  <link rel="stylesheet" href="/css/material-components-web.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="mdc-typography main-body">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="catalog-back">
            <a href="#" class="mdc-toolbar__icon--menu"><i class="material-icons">cloud</i></a>
          </span>
        <span class="mdc-toolbar__title catalog-title">dotNetflix</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        @if (User.Identity.IsAuthenticated) {
          <a href="#" class="mdc-toolbar__icon toggle" aria-label="More" alt="More"><img src="http://identicon.org?t=@User.Identity.Name&s=25" /></a>
        }
        else{
          <a href="#" class="material-icons mdc-toolbar__icon toggle" aria-label="More" alt="More">account_circle</a>
        }
        <div class="mdc-menu-anchor">
          <div class="mdc-simple-menu" tabindex="-1" id="account-menu">
            <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">
              <li><a href="/account" class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.069s;">Account</a></li>
              @if (User.Identity.IsAuthenticated) {
                <li><a href="/account/logout" class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.124s;">Sign Out</a></li>
              }
              else{
                <li><a href="/account/signin" class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.124s;">Sign In</a></li>
              }
              <li class="mdc-list-divider" role="separator"></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </header>

  <div class="main-content mdc-toolbar-fixed-adjust">
    <nav class="mdc-permanent-drawer">
      <div class="mdc-list-group">
        <nav class="mdc-list">
          <a class="mdc-list-item @if (controllerName == "home"){ @("mdc-permanent-drawer--selected ") }" href="/">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>
              Home
            </a>
          <a class="mdc-list-item @if (controllerName == "upload"){ @("mdc-permanent-drawer--selected ") }" href="/upload">

              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">file_upload</i>Upload
            </a>
          <a class="mdc-list-item @if (controllerName == "video"){ @("mdc-permanent-drawer--selected ") }" href="/video">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">view_module</i>Videos
            </a>
        </nav>

        <!-- <hr class="mdc-list-divider"> -->
      </div>
    </nav>
    <main class="demo-main">
      @RenderBody()
    </main>
  </div>

  <script src="/js/material-components-web.min.js"></script>
  <script type="text/javascript">
    mdc.autoInit()
  </script>
  <script type="text/javascript">
    // set js on input text
    (function () {
      var tfs = document.querySelectorAll(
        '.mdc-textfield:not([data-demo-no-auto-js])'
      );
      for (var i = 0, tf; tf = tfs[i]; i++) {
        mdc.textfield.MDCTextfield.attachTo(tf);
      }
    })();
    // set toggle of menu
    var menuEl = document.querySelector('#account-menu');
    var menu = new mdc.menu.MDCSimpleMenu(menuEl);
    var toggle = document.querySelector('.toggle');
    toggle.addEventListener('click', function () {
      menu.open = !menu.open;
    });

    // set ripple effect 
    mdc.ripple.MDCRipple.attachTo(document.querySelector('.mdc-button'));
    mdc.ripple.MDCRipple.attachTo(document.querySelector('.mdc-list-item'));
  </script>
  </div>
</body>

</html>